.jumbotron {
  background-color: steelblue !important;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
  height: 100%;
  margin-bottom: 0;
  color: white;
  text-align: center;
}

.container {
  width:100%;
}

.footer {
  background-color: steelblue !important;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
  margin-top: 20px;
  color: white;
  text-align: center;
  margin: auto 0;
  left: 0;
  width: 100%;
  height: 60px;
  position: absolute;
}

.add{
  width: 30%;
}

.footer-text{
  color:white;
}
